<section class="">
            
        <div class="featured_main featured_main2">
            <h2 class="second_h update_pt">iTeleCenter has all the communication features <span class="main_hd_how">your small business needs!</span></h2>
             <div class="main_cnt_phone update_sec">
                <div class="col-lg-6 col-md-6 how_top_pt_main">
                    <div class="phone_cnt">
                       iTeleCenter provides you a business toll free or local number that you can manage from an app on your smartphone or any browser. Get your new number activated and ready to accept calls and texts in under&nbsp;<span class="block"> 5 minutes! </span> 
                    </div>
                    <div class="how_btn">
                      <a id="aFreeTrial" class="btn_big" href="#">Start For Free Today</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 firest_im">
                    <img class="img-responsive" src="assets/all_inbox.png">
                </div>
            </div>
        </div>
    </section>
    <section class="white_bg">
         <div class="featured_main featured_main2">
            <h2 class="second_h update_pt">How iTeleCenter will work for you</h2>
             <div class="container">
                  <ul id="myTab" class="nav nav-tabs hidden-xs" style="margin-bottom: 15px;">
                        <li class="active"><a href="#customers_call" data-toggle="tab">When customers call<span></span></a></li>
                        <li><a href="#make_calls" data-toggle="tab">When you make calls<span></span></a></li>
                        <li><a href="#business_texts" data-toggle="tab">Business Texts<span></span></a></li>
                        <li><a href="#voicemails" data-toggle="tab">Voicemails and Faxes<span></span></a></li>
                    </ul><div class="panel-group visible-xs" id="myTab-accordion"></div>
  <div id="myTabContent" class="tab-content hidden-xs">
    <div class="tab-pane fade  in active" id="customers_call">
        <div class="main_cnt_phone update_sec clearfix">
             <div class="col-lg-6 col-md-6 no_pt_left">
                 <div class="features_small_text col-lg-12 col-md-12" style="text-align:left;">Answer every call professionally.</div>
                    <ul class="green-tick clearfix" style="margin-bottom:0px">
                        <li><span>Instantly see when a call is coming from your business number so you can answer like the pro you are.</span></li>
                        <li><span>Make your business look bigger with a custom greeting and company departments. </span></li>
                        <li style="padding-bottom:0px"><span>Get the perfect greeting by using our voice studio.</span></li>
                    </ul>
                 <div class="greet_au">Hear an example of a professional greeting:</div>
                 <div class="main_audio_how">
                  <div id="down_none" class="how_greet" style="display: block;"></div>
                 <audio id="Audio" controls="controls" preload="auto" src="#">
                   Your browser does not support the audio element.
                 </audio>
                 </div>
                </div>
             <div class="col-lg-6 col-md-6 no_pt_right">
                    <img class="img-responsive" src="assets/greeting_rec.png">
                </div>
         </div>
    </div>
    <div class="tab-pane fade" id="make_calls">
        <div class="main_cnt_phone update_sec clearfix">
             <div class="col-lg-7 col-md-7 no_pt_left">
               <div class="features_small_text col-lg-10 col-md-10" style="text-align:left;">Keep your personal number private!</div>
                    <ul class="green-tick clearfix">
                        <li><span>Make calls through the app and your business phone number shows on their caller ID. This keeps your personal number private.</span></li>
                        <li><span>Your business number uses your current cellular signal to make and receive calls, so you can work from anywhere your phone works.</span></li>
                    </ul>
                </div>
             <div class="col-lg-3 col-md-3 col-lg-offset-1 no_pt_right">
                    <img class="img-responsive rwd_center_main" src="assets/call_dail.png">
                </div>
        </div>
     </div>
    <div class="tab-pane fade" id="business_texts">
          <div class="main_cnt_phone update_sec clearfix">
             <div class="col-lg-7 col-md-7 no_pt_left">
               <div class="features_small_text col-lg-10 col-md-10" style="text-align:left;">Send/Receive Text Messages</div>
                    <ul class="green-tick clearfix">
                        <li><span>Use your number to send and receive texts and pictures from your business number.</span></li>
                        <li><span>Respond to missed calls with a quick text.</span></li>
                        <li><span>Now, you can text from your iTeleCenter number, so your personal number stays private.</span></li>
                    </ul>
                </div>
             <div class="col-lg-4 col-md-4 no_pt_right">
                    <img class="img-responsive rwd_center_main" src="assets/text_msg_app_sc.png">
                </div>
       </div>
    </div>
    <div class="tab-pane fade" id="voicemails">
        <div class="main_cnt_phone update_sec clearfix">
             <div class="col-lg-6 col-md-6 no_pt_left">
                 <div class="features_small_text col-lg-12 col-md-12" style="text-align:left;">Stay Informed And Organized.</div>
                    <ul class="green-tick clearfix">
                        <li><span>iTeleCenter includes a customizable voicemail box, so even missed calls go to the right place.</span></li>
                        <li><span>Can’t take a call? No need to sit through a long, rambling voicemail. With Voicemail Transcription add-on, we transcribe your voicemail messages, so you can scan through them on your phone.</span></li>
                        <li><span>Your iTelecenter number is a virtual fax number! You can send and receive faxes from any computer.  View faxes as PDFs.</span></li>
                    </ul>
                </div>
             <div class="col-lg-6 col-md-6 no_pt_right">
                    <img class="img-responsive" src="assets/voice_mail.png">
                </div>
         </div>
    </div>

              </div>

        </div>
             </div>
    </section>
    <section class="gray_bg" style="padding-top:0px">
        <h1 class="works_h" style="margin-bottom:30px;padding-top:0">iTeleCenter Keeps You Connected to Your Customers. </h1>
        <div class="features_text">Get going with iTeleCenter in 4 simple steps.</div>
        <div class="featured_main featured_main2">
        <div class="main_cnt_phone update_sec2 clearfix">
             <div class="col-lg-6 col-md-6 under_how_pt_1">
                    <ul class="under_how_ul clearfix one_how">
                        <li><span><b>Pick your number</b></span></li>
                        <li><span>Choose a toll free or local number or transfer your existing number over to iTeleCenter.</span></li>
                    </ul>
                   <div class="how_btn" style="padding-left:20px;">
                      <a id="aFreeTrial2" class="btn_big" href="#">Start For Free Today</a>
                    </div>
                </div>
             <div class="col-lg-6 col-md-6 firest_im">
               <img style="border:2px solid #cdcdcd" src="assets/numberselection_com.jpg" class="img-responsive">
             </div>
        </div>
         <div class="main_cnt_phone update_sec2">
                <div class="col-lg-6 col-md-6 dail_ht_ag main_how_right">
                   <ul class="under_how_ul clearfix two_how">
                        <li><span><b>Configure your Settings.  Download the <span class="rwd_dpms">iTeleCenter App</span> </b></span></li>
                        <li><span>Record a professional greeting, set your call forwarding options, and optionally add department  employee extensions.  We offer concierge setup of your system <span class="dsp_rwd"> at no charge!</span></span></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="img-responsive" src="assets/ext_incmng_call.png">
                </div>
            </div>
           <div class="main_cnt_phone update_sec2 clearfix">
             <div class="col-lg-6 col-md-6 col-lg-offset- col-md-offset- dail_ht_ag dail_ht_ag2">
                    <ul class="under_how_ul clearfix three_how">
                        <li><span><b>Make &amp; receive calls and text messages from anywhere</b></span></li>
                        <li><span>Works everywhere your existing phone does.</span></li>
                    </ul>
                </div>
             <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1  firest_im">
                    <img src="assets/main_dail_text.jpg" class="img-responsive rwd_center_main">
                </div>
              </div>
               <div class="main_cnt_phone">
               <div class="col-lg-6 col-md-6 phone_pt3 main_how_right">
                 <ul class="under_how_ul clearfix  four_how">
                        <li><span><b>Show off your number </b></span></li>
                        <li><span>Add your number to your website, business cards and more.. That’s it! You’re ready to call &amp; text on your business number.</span></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img class="img-responsive rwd_center_main" src="assets/gray_text_app.png">
                </div>
            </div>
     </div>
    </section>
    <section class="features">
        <h1 class="works_h" style="margin-bottom: 25px">Features</h1>
        <div class="features_text">Whether you need simple call forwarding or more advanced call handling features, iTeleCenter has your covered!</div>
        <div class="features_small_text">Over 50 + features, some of the most popular listed below:</div>
        <div class="features_points">
            <ul class="green-tick rwd_flt_ul">
                <li class="col-lg-5 col-md-6 col-lg-offset-2 col-md-offset-1"><span>Custom Main Greeting</span></li>
                <li class="col-lg-5 col-md-5"><span>Unlimited Call Capacity </span></li>
                <li class="col-lg-5 col-md-6 col-lg-offset-2 col-md-offset-1"><span>Extensions for Depts &amp; Employees </span></li>
                <li class="col-lg-5 col-md-5"><span>On Hold Music/Custom Message</span> </li>
                <li class="col-lg-5 col-md-6 col-lg-offset-2 col-md-offset-1"><span>Voicemail and Faxes to your Email </span></li>
                <li class="col-lg-5 col-md-5"><span>Voicemail Transcription</span> </li>
                <li class="col-lg-5 col-md-6 col-lg-offset-2 col-md-offset-1"><span>Call Screening </span></li>
                <li class="col-lg-5 col-md-5"><span>Record your Calls </span></li>
                <li class="col-lg-5 col-md-6 col-lg-offset-2 col-md-offset-1"><span>Online Faxing </span></li>
                <li class="col-lg-5 col-md-5"><span>Business Texting </span></li>
                <li class="col-lg-5 col-md-6 col-lg-offset-2 col-md-offset-1"><span>iPhone/Android App </span></li>
                <li class="col-lg-5 col-md-5"><span>Conference Calling </span></li>
            </ul>
                <div class="how_btn text-center rwd_flt">
                      <a id="aFreeTrial3" class="btn_big" href="#">Start For Free Today</a>
               </div>
        </div>
    </section>

    <section class="footer_main" style="padding-top: 0;">
        <div class="featured_main featured_main2">
            <h2 class="second_h">We've served over 100,000 businesses.<br>
                Here's what a few of them have to say.</h2>
            <div class="main_cnt_phone">
                <div class="col-lg-9 col-md-9">
                    <div class="clearfix">
                        <div class="col-lg-2  col-md-3">
                            <img src="assets/jakel_c.jpg">
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="footer_main_cnt only_first">"It's a great service, and I don't have to be stuck in the office to receive business calls."</div>
                            <div class="footer_main_b">
                                Vern Pelzer,<br>
                                Jakel Media
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-lg-2 col-md-3">
                            <img src="assets/gain_c.jpg">
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="footer_main_cnt">"iTeleCenter is like an easy button for your business phone solutions."</div>
                            <div class="footer_main_b">
                                Gina DeLong,<br>
                                Piranha Marketing, Inc.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <img src="assets/dswa_c.jpg">
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="footer_main_cnt only_first">"iTeleCenter is an outstanding value..."</div>
                        <div class="footer_main_b">
                            GracAnne Keohouhou,<br>
                            Direct Selling Women's Alliance
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 rwd_app_h">
                    <div class="footer_main_cnt only_first">Get the Free iPhone or Android App that makes our service even easier to use on the go!</div>
                    <div class="only_first">
                        <a href="https://itunes.apple.com/us/app/itelecenter/id426417970?mt=8" target="_blank">
                            <img src="assets/appstore.gif"></a>
                    </div>
                    <div class="only_first">
                        <a href="https://play.google.com/store/apps/details?id=com.coanetwork.iTeleCenter" target="_blank">
                            <img src="assets/g_play.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="inner_footer">
        <a href="http://www.coanetwork.com" target="_blank">
         © 2019  COA Network.
        </a>
       All Rights Reserved. |
        <a href="PrivacyPolicy.aspx">Privacy Policy</a>  | 

        <a href="TermsOfSiteUse.aspx">Terms of Site Use</a>
    </section>
